// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 48px auto;
}

.group {
  margin: 16px 0;
}

.group-label {
  color: #999;
  font-weight: 700;
  margin: 0 0 4px 0;
}

.group-data {
  margin: 0;
}

.link {
  margin-top: 48px;
}
