// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
  margin: 0;
  padding-right: 24px;
  text-align: left;
  background-color: #999;
}

tr:hover {
  background-color: #ddd;
}

td {
  padding: 4px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.container {
  margin: 48px auto;
}

.group {
  margin: 16px 0;
}

.group-label {
  color: #999;
  font-weight: 700;
  margin: 0 0 4px 0;
}

.group-data {
  margin: 0;
}

.link {
  margin-top: 48px;
}

.status {
  margin: 2px 8px;
  max-width: 48px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background-color: hsl(16, 100%, 50%);
}
